:root {
  --align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-geometry {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(#e66465, #9198e5);
}

h1 {
  text-align: var(--align);
}

.description-geometry {
  text-align: var(--align);
}

.return-geometry {
  font-size: x-small;
  margin-top: .5rem;
}