:root {
  --align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-geometry {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(#e66465, #9198e5);
}

.geometry-header {
  text-align: var(--align);
  margin-top: 2rem;
  transform: translatey(0px);
  animation: float 10s ease-in-out infinite;
}

.description-geometry {
  text-align: var(--align);
}


.geometry-icons-wrapper {
  background: #191919;
  max-height: 100vh;
  font-family: Montserrat, sans-serif;
}

.geometry-menu a {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

.geometry-menu {
  position: fixed;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-height: 100vh;
  background: #e22ab4;
}

#geo-cube-icon {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 0;
  opacity: 0;
  transition: all ease-in .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#geo-twocube-icon {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 0;
  opacity: 0;
  transition: all ease-in .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#geo-controlsinglerect-icon {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 0;
  opacity: 0;
  transition: all ease-in .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 30rem;
}

#geo-controlrect-icon {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 0;
  opacity: 0;
  transition: all ease-in .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}


#geo-cube-icon:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#geo-twocube-icon:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#geo-controlsinglerect-icon:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#geo-controlrect-icon:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#geo-cube-icon:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards .5s;
}

#geo-twocube-icon:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards .5s;
}

#geo-controlsinglerect-icon:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards .5s;
}

#geo-controlrect-icon:target h1 {
  opacity: 0;
  animation: 2s fadeIn forwards .5s;
}

@keyframes fadeIn {
  100% {
    opacity: 1
  }
}