.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(
    90deg, 
    rgba(255, 113, 206,1) 15%, 
    rgba(1, 205, 254, 1) 15%,
    rgba(5, 255, 61, 1) 5%,
    rgba(185, 103, 255, 1) 10%,
    rgba(255, 251, 150) 35%
  );
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}