.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(90deg,
      rgba(255, 113, 206, 1) 15%,
      rgba(1, 205, 254, 1) 15%,
      rgba(5, 255, 61, 1) 5%,
      rgba(185, 103, 255, 1) 10%,
      rgba(255, 251, 150) 35%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app-header {
  color: rgb(216, 10, 164);
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.app-description {
  font-family: arial black;
  background-image: linear-gradient(to right, rgb(255, 0, 234), rgb(163, 121, 177), rgb(241, 231, 240), indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 250s linear infinite;
}

@keyframes move {
  to {
    background-position: 4500vh;
  }
}